<!DOCTYPE html>
<html>

<body>
  {% extends "layout.html" %}
  {% block content %}

  <div class="home">
    <h1>Coding Projects</h1>
    
    <div class="container">
      <!-- Projects Row -->
      <div class="row">
        <div class="col-md-6 portfolio-item">
          <a href="http://ideastorm.herokuapp.com" target="_blank">
              <!-- picture dimensions must be 700x400-->
              <img class="img-responsive" src="static\brainstorm.jpg" alt="" style="border:1px solid #CCCCCC">
          </a>
          <h3>
              <a href="http://ideastorm.herokuapp.com" target="_blank">brainStorm</a> 
              <br>
              <a style="font-size:15px" href="https://github.com/yujinjcho/brainstorm" target="_blank">Github link</a> 
          </h3>
          <p>Collaboratively generate and vote on ideas. Learning how to create a single page web app via Backbone.</p>
        </div>             

        <div class="col-md-6 portfolio-item">
          <a href="http://itspong.com/" target="_blank">
              <!-- picture dimensions must be 700x400-->
              <img class="img-responsive" src="static\itspong.png" alt="" style="border:1px solid #CCCCCC">
          </a>
          <h3>
              <a href="http://itspong.com/" target="_blank">ItsPong</a> 
              <br>
              <a style="font-size:15px" href="https://github.com/yujinjcho/itspong" target="_blank">Github link</a> 
          </h3>
          <p>Help people find local ping pong games. Learning how to use OAuth and geolocation.</p>
        </div>      

        
      </div>
      <!-- /.row -->

      <!-- Projects Row -->
      <div class="row">
        <div class="col-md-6 portfolio-item">
          <a href="http://poong.herokuapp.com/" target="_blank">
              <img class="img-responsive" src="static\poong.png" alt="" style="border:1px solid #CCCCCC">
          </a>
          <h3>
              <a href="http://poong.herokuapp.com/" target="_blank">Messaging Forum</a> 
              <br>
              <a style="font-size:15px" href="https://github.com/yujinjcho/messagingforum" target="_blank">Github link</a> 
          </h3>
          <p>Login and say hi to everyone. Learning how to integrate postgreSQL and Facebook SDK.</p>
        </div>


        <div class="col-md-6 portfolio-item">
          <a href="{{ url_for('home') }}" target="_blank">
              <img class="img-responsive" src="static\code.png" alt="" style="border:1px solid #CCCCCC">
          </a>
          <h3>
              <a href="{{ url_for('home') }}" target="_blank">Coding History and Projects</a>
              <br>
              <a style="font-size:15px" href="https://github.com/yujinjcho/learntocode" target="_blank">Github link</a> 
          </h3>
          <p>Personal website for keeping track of programming projects and resources. Learning how to use Flask, Heroku, and Bootstrap.</p>
        </div>

        
      </div>

    <!-- Projects Row -->
    <div class="row">
      <div class="col-md-6 portfolio-item">
        <a href="http://timer-sessions.bitballoon.com/" target="_blank">
            <img class="img-responsive" src="static\timer.png" alt="" style="border:1px solid #CCCCCC">
        </a>
        <h3>
            <a href="http://timer-sessions.bitballoon.com/" target="_blank">Productivity Timer</a>
            <br>
            <a style="font-size:15px" href="https://github.com/yujinjcho/timer" target="_blank">Github link</a> 
        </h3>
        <p>Tool used to help manage work sessions inspired by the Pomodoro method. Learning how to integrate Javascript, CSS, and HTML.</p>
      </div>

      <div class="col-md-6 portfolio-item">
        <a href="http://tictactoe-verysmart.bitballoon.com/" target="_blank">
            <img class="img-responsive" src="static\tictactoe.png" alt="" style="border:1px solid #CCCCCC">
        </a>
        <h3>
            <a href="http://tictactoe-verysmart.bitballoon.com/" target="_blank">AlphaTicTacToe</a>
            <br>
            <a style="font-size:15px" href="https://github.com/yujinjcho/tictactoe" target="_blank">Github link</a> 
        </h3>
        <p>Unbeatable TicTacToe Game. Learning how to integrate Javascript, CSS, and HTML.</p>
      </div>      
    </div>  


    
  </div>
  {% endblock %}
</body>
</html>

