<!DOCTYPE html>
<html>

<body>
	{% extends "layout.html" %}
	{% block content %}

	<div class="home">
		<h1>Version History</h1>
		
		<ul>
			<li><strong>Timer</strong></li>
				<ol>
					<li><a target="_blank" href="http://ez-timer.bitballoon.com/">Easy Timer</a></li>
					<li><a target="_blank" href="http://timer-bar.bitballoon.com/">Timer Bar</a></li>
					<li><a target="_blank" href="http://timer-bar-pretty.bitballoon.com/">Timer Bar Formatted</a></li>
					<li><a target="_blank" href="http://timer-alert.bitballoon.com/">Timer Alert</a></li>
					<li><a target="_blank" href="http://timer-repeat.bitballoon.com/">Timer Recent</a></li>
					<li><a target="_blank" href="http://timer-sessions.bitballoon.com/">Timer Sessions</a></li>
				</ol>

			<li><strong>TicTacToe</strong></li>
				<ol>
					<li><a target="_blank" href="http://tictactoe2player.bitballoon.com/">2 Player</a></li>
					<li><a target="_blank" href="http://tictactoe-dumb.bitballoon.com/">Dumb Computer</a></li>
					<li><a target="_blank" href="http://tictactoe-smart.bitballoon.com/">Smart Computer</a></li>
					<li><a target="_blank" href="http://tictactoe-verysmart.bitballoon.com/">Very Smart Computer</a></li>
				</ol>
		</ul>
	</div>
	{% endblock %}
</body>
</html>

