<!DOCTYPE html>
<html>

<body>
	{% extends "layout.html" %}
	{% block content %}

	<div class="home">
		<h1>Coding Resources</h1>
		<ul>
			<li><a href="https://automatetheboringstuff.com/">Automate the Boring Stuff With Python</a></li>
			<li><a href="https://bento.io/">Bento</a></li>
			<li><a href="http://it-ebooks.info/book/274/#">JavaScript: The Good Parts</a></li>
			<li><a href="http://www.amazon.com/Python-Programming-Introduction-Computer-Science/dp/1887902996">Python Programming: An Introduction to Computer Science</a></li>
			<li><a href="http://pythonhow.com/building-a-website-with-python-flask/">PythonHow Flask Tutorial</a></li>
		</ul>
	</div>
	{% endblock %}
</body>
</html>